.reservation {
    display: block;
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .form {
    max-width: 385px;
    margin: 0 auto;
    padding-bottom: 120px;
   }
  
  .reservation__title {
    padding: 100px 0 80px;
    text-align: center;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
  
  .form__label {
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500; 
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
  }
  
  .form__input[type="text"],
  .form__input[type="number"],
  .form__input[type="datetime-local"],
  .form__input[type="email"]  {
    border-radius: 4px;
    margin-bottom: 32px;
    block-size: 60px;
    border: #838383;
  }
  
  .form__input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  .form__checkbox {
    display: flex;
    justify-content: space-between
    width: 20px;
    height: 20px;
    border-radius: 2px;
  
  }
  
  .form__button {
    border-radius:4px;
    max-width: 385px;
    min-height: 60px;
    background: #2f71e5;
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    border: none;
  }